.carta {
    display: grid;
    text-align: center;
    width: 10cm;
    background-image: linear-gradient(210deg, #ff75b8 0, #ff7aa0 3.33%, #ff8289 6.67%, #ff8c73 10%, #ff975d 13.33%, #ffa246 16.67%, #ffad2e 20%, #ffb80a 23.33%, #ffc200 26.67%, #ffcc00 30%, #fdd400 33.33%, #e7dc00 36.67%, #cfe300 40%, #b6e900 43.33%, #9aee1d 46.67%, #79f23c 50%, #4cf656 53.33%, #00f96e 56.67%, #00fb87 60%, #00fda0 63.33%, #00ffb9 66.67%, #00ffd2 70%, #00ffec 73.33%, #00ffff 76.67%, #00ffff 80%, #00ffff 83.33%, #00feff 86.67%, #00fcff 90%, #00f9ff 93.33%, #00f5ff 96.67%, #00f1ff 100%);
    justify-items: center;
    margin: 20px;
    animation: _rotate-center_owm5n_1 0.6s ease-in-out both;
    line-height: 1px;
    height: 15cm;
}