.Alineado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(30deg, #ebaa40 0, #f39f40 7.14%, #f99441 14.29%, #fe8643 21.43%, #ff7747 28.57%, #ff664c 35.71%, #ff5251 42.86%, #ff3858 50%, #fa0d60 57.14%, #f4006b 64.29%, #ec0077 71.43%, #e20084 78.57%, #d50093 85.71%, #c500a3 92.86%, #b200b3 100%);
    padding: 5px;
}
.button{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(184,184,249,0.6867121848739496) 0%, rgba(0,212,255,1) 100%);
    margin: 5px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
}